@page
@model FamilyPromiseApp.Pages.Persons.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>@Html.DisplayFor(model => model.Person.FirstMidName) @Html.DisplayFor(model => model.Person.LastName)</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.ID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.ID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.DateOfBirth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.DateOfBirth)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.CellPhone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.CellPhone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.WorkPhone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.WorkPhone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.Email)
        </dd>        
    </dl>
       
</div>
<table class=table>
    <thead>
        <tr>
            <th>
                @* @Html.DisplayNameFor(model => model.Person.FirstMidName).Replace("First Name", "First")
                @Html.DisplayNameFor(model => model.Person.LastName).Replace("Last Name", "Last") *@
                Name
            </th>
            <th>
                Role
            </th>
            <th>
                DOB
            </th>
            <th>
                Email
            </th>
            <th>
                Phone
            </th>

        </tr>
        @for (int i = 0; i < Model.Adults.Count; i++) {
            <tr>
                <td>
                    @Html.DisplayFor(model => model.Adults[i].FirstMidName) @Html.DisplayFor(model => model.Adults[i].LastName) 
                </td>
                <td>
                    Adult
                </td>
                <td>
                    @Html.DisplayFor(model => model.Adults[i].DateOfBirth)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Adults[i].Email)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Adults[i].CellPhone)
                </td>
            </tr>
        }
        @for (int i = 0; i < Model.Children.Count; i++) {
            <tr>
                <td>
                    @Html.DisplayFor(model => model.Children[i].LastName)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Children[i].FirstMidName)
                </td>
                <td>
                    Child
                </td>
                <td>
                    @Html.DisplayFor(model => model.Children[i].DateOfBirth)
                </td>
            </tr>
        }
    </thead>
</table>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Person?.ID">Edit</a> |
    <a asp-page="./Index">Back</a>
</div>

